@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  color: #262626; /* text-neutral-800 */
  background-color: #fafafa; /* bg-neutral-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; /* equivalent to font-medium */
  letter-spacing: -0.025em; /* equivalent to tracking-tight */
}